@charset "UTF-8";
@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
.noto-sans-kr-400 {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 to 500;
  font-style: normal;
}

@font-face {
  font-family: "BMDOHYEON";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}

button {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

/*header*/
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  /*모바일 헤더*/
}
header .hd-top {
  width: 100%;
  height: 100px;
  background-color: #fff;
}
header .hd-top .hd-inner {
  position: relative;
  margin: 0 auto;
  width: 80%;
  max-width: 1280px;
  height: 100%;
}
header .hd-top .hd-inner h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header .hd-top .hd-inner h1 a {
  display: block;
  width: 205px;
  height: 24px;
  background: url(../images/logo_color.png) no-repeat center;
  text-indent: -999px;
}
header .hd-top .hd-inner #searchTop {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 450px;
}
header .hd-top .hd-inner #searchTop .search-txt {
  padding-left: 14px;
  width: 450px;
  height: 45px;
  border: 3px solid #0162B1;
  box-sizing: border-box;
}
header .hd-top .hd-inner #searchTop .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border: none;
  background: url("../images/ico_search.png") no-repeat center;
  background-color: #0162B1;
  cursor: pointer;
}
header .hd-top .hd-inner .right-btn-box {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
header .hd-top .hd-inner .right-btn-box li {
  display: inline-block;
}
header .hd-top .hd-inner .right-btn-box li img {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 auto 5px;
}
header .hd-top .hd-inner .right-btn-box li:first-child {
  margin-left: 0;
}
header .hd-bottom {
  height: 66px;
  background-color: #0162B1;
  color: #fff;
  box-sizing: border-box;
}
header .hd-bottom .hd-inner {
  margin: 0 auto;
  width: 80%;
  max-width: 1280px;
  height: 100%;
}
header .hd-bottom .hd-inner #gnb {
  display: flex;
  width: 100%;
  height: 100%;
  line-height: 66px;
}
header .hd-bottom .hd-inner #gnb .depth1 {
  display: flex;
  width: 100%;
  height: 66px;
}
header .hd-bottom .hd-inner #gnb .depth1 li {
  position: relative;
  width: 16.66%;
  text-align: center;
}
header .hd-bottom .hd-inner #gnb .depth1 li::before {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 15px;
  background-color: gray;
}
header .hd-bottom .hd-inner #gnb .depth1 li:nth-child(6)::before, header .hd-bottom .hd-inner #gnb .depth1 li:last-child::before {
  background-color: transparent;
}
header .hd-bottom .hd-inner #gnb .depth1 .depth2 {
  flex-direction: column;
  color: #444444;
  transition: 0.3s;
  display: none;
}
header .hd-bottom .hd-inner #gnb .depth1 .depth2 li {
  width: 100%;
  background-color: #C5E5FF;
  box-sizing: border-box;
  transition: 0.3s;
}
header .hd-bottom .hd-inner #gnb .depth1 .depth2 li:hover {
  font-weight: 500;
  color: #000;
}
header .hd-bottom .hd-inner #gnb .depth1 .depth2 li::before {
  display: none;
}
header .hd-bottom .hd-inner #gnb .menu-btn {
  width: 66px;
  height: 66px;
  background-color: #00457e;
}
header .hd-bottom .hd-inner #gnb ul > li:hover .depth2 {
  display: block;
}
header .menu-mobile-btn {
  display: none;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 30px;
  border: none;
  background-color: transparent;
}
header .menu-mobile-btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 90%;
  height: 4px;
  border-radius: 5px;
  background-color: #444444;
  text-align: center;
  transition: 0.3s;
}
header .menu-mobile-btn span:first-child {
  top: 0;
}
header .menu-mobile-btn span:nth-child(2), header .menu-mobile-btn span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%);
}
header .menu-mobile-btn span:last-child {
  bottom: 0;
}
header .menu-mobile-btn.close span:nth-child(1) {
  display: none;
}
header .menu-mobile-btn.close span:nth-child(2) {
  transform: rotate(45deg);
  text-align: center;
}
header .menu-mobile-btn.close span:nth-child(3) {
  transform: rotate(-45deg);
  text-align: center;
}
header .menu-mobile-btn.close span:nth-child(4) {
  display: none;
}
header .header-mobile-wrap {
  display: none;
}
header .header-mobile-wrap.open {
  display: block;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: rgba(90, 90, 90, 0.445);
  font-size: 18px;
  box-sizing: border-box;
}
header .header-mobile-wrap.open .header-mobile {
  margin: 0 auto;
  width: 90%;
  background-color: rgb(226, 226, 226);
}
header .header-mobile-wrap.open .header-mobile .login-mobile {
  font-size: 0;
  text-align: center;
}
header .header-mobile-wrap.open .header-mobile .login-mobile li {
  display: inline-block;
  width: 50%;
  height: 100%;
  border: 1px solid #888888;
  font-size: 18px;
  box-sizing: border-box;
}
header .header-mobile-wrap.open .header-mobile .login-mobile li a {
  display: block;
  padding: 25px 0;
}
header .header-mobile-wrap.open .header-mobile .gnb-mobile .depth1 > a {
  display: block;
  position: relative;
  padding: 20px 15px;
  width: 100%;
  border-bottom: 1px solid #888888;
  box-sizing: border-box;
}
header .header-mobile-wrap.open .header-mobile .gnb-mobile .depth1 > a img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
header .header-mobile-wrap.open .header-mobile .gnb-mobile .depth1 .depth2 {
  display: none;
  font-size: 14px;
}
header .header-mobile-wrap.open .header-mobile .gnb-mobile .depth1 .depth2 li {
  border-bottom: 1px solid #888888;
}
header .header-mobile-wrap.open .header-mobile .gnb-mobile .depth1 .depth2 li a {
  display: block;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* main*/
.contents {
  width: 95%;
  max-width: 1280px;
  margin: 232px auto 100px;
}
.contents h2 {
  margin-bottom: 61px;
  font-size: 48px;
  text-align: center;
  font-family: "BMDOHYEON";
}
.contents .step-box {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 100px;
  border: 1px solid #AEAEAE;
  border-radius: 2px;
  background-color: #FAFAFA;
  font-size: 24px;
  color: #666666;
  box-sizing: border-box;
}
.contents .step-box::before {
  position: absolute;
  left: -1px;
  top: -1px; /*width: 1280px;*/
  height: 100px; /*background: url("../images/stepbox_2.png") no-repeat center;*/
  box-sizing: border-box;
  content: "";
}
.contents .step-box li {
  position: relative;
  width: 320px;
  line-height: 100px;
  text-align: center;
}
.contents .step-box .step-blue {
  color: #0162B1;
}
.contents h3 {
  position: relative;
  margin: 0 0 40px 30px;
  font-size: 28px;
  font-weight: 700;
  color: #444444;
}
.contents h3::before {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #444444;
  content: "";
}
.contents .txt-box {
  margin-top: 40px;
  padding: 33px 67px;
  border: 1px solid #BFBFBF;
  border-radius: 2px;
  background: #F6F6F6;
  line-height: 28.8px;
  color: #555555;
  box-sizing: border-box;
}
.contents .txt-box > li {
  position: relative;
}
.contents .txt-box > li::before {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #555555;
}
.contents input:focus {
  outline: none;
}
.contents .btn-box {
  display: flex;
  gap: 13px;
  margin: 80px auto 0;
  width: 576px;
  height: 80px;
}
.contents .btn-box a {
  display: inline-block;
  width: 300px;
  height: 80px;
  border-radius: 2px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 80px;
  text-align: center;
  box-sizing: border-box;
}
.contents .btn-box a.btn-bor {
  border: 1px solid #444444;
  color: #444444;
}
.contents .btn-box a.btn-bor-blue {
  border: 1px solid #0162B1;
  color: #0162B1;
}
.contents .btn-box a.btn-solid {
  background-color: #444444;
}
.contents .btn-box a.btn-solid-blue {
  background-color: #0162B1;
}

/*footer*/
footer {
  padding: 40px 30px;
  width: 100%;
  background-color: #444444;
  color: #fff;
  box-sizing: border-box;
}
footer .inner {
  position: relative;
  margin: 0 auto;
  max-width: 1280px;
  height: 100%;
  box-sizing: border-box;
}
footer .inner .footer-logo-1 {
  display: inline-block;
  width: 204px;
  vertical-align: top;
}
footer .inner .footer-info {
  display: inline-block;
  margin-left: 60px;
}
footer .inner .footer-info li {
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
  vertical-align: top;
}
footer .inner .footer-info li:first-child {
  margin-left: 0;
}
footer .inner .footer-info li span {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
footer .inner .footer-info li p {
  line-height: 30px;
}
footer .inner .footer-info li a {
  display: block;
  line-height: 35px;
}
footer .inner .footer-info li .footer-sns {
  display: block;
}
footer .inner .footer-info li .footer-sns li {
  display: inline-block;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}
footer .inner .footer-info li .footer-sns li a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  margin-right: 10px;
  font-size: 12px;
}
footer .inner .footer-info li .footer-sns li:last-child {
  margin-right: 0;
}
footer .inner .footer-info li .footer-site {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
footer .inner .footer-info li .footer-site option {
  background-color: #444444;
  color: #fff;
}
footer .inner .footer-logo-2 {
  display: inline-block;
  margin-left: 50px;
  width: 150px;
  vertical-align: top;
}

/*반응형*/
@media all and (min-width: 769px) and (max-width: 1024px) { /*769px ~ 1024px*/
  header .hd-top {
    border-bottom: 1px solid #444444;
    box-sizing: border-box;
  }
  header .hd-top .hd-inner {
    width: 90%;
  }
  header .hd-top .hd-inner h1 {
    left: 0;
  }
  header .hd-top .hd-inner #searchTop {
    display: none;
  }
  header .hd-top .hd-inner .right-btn-box {
    display: none;
  }
  header .hd-bottom {
    display: none;
  }
  header .menu-mobile-btn {
    display: block;
  }
  .contents {
    margin-top: 150px;
    width: 90%;
  }
  .contents h2 {
    margin-bottom: 40px;
  }
  footer {
    width: 100%;
    font-size: 16px;
  }
  footer .inner .footer-info {
    margin: 20px 0 0 0;
  }
  footer .inner .footer-info li {
    margin-left: 10px;
    font-size: 16px;
    vertical-align: top;
  }
  footer .inner .footer-info li:first-child {
    margin-left: 0;
  }
  footer .inner .footer-info li span {
    font-size: 18px;
  }
  footer .inner .footer-info li p {
    line-height: 25px;
  }
  footer .inner .footer-info li a {
    line-height: 25px;
  }
  footer .inner .footer-info li .footer-sns li {
    width: 45px;
    height: 45px;
  }
  footer .inner .footer-info li .footer-sns li a {
    font-size: 10px;
  }
  footer .inner .footer-info li .footer-site {
    width: 150px;
  }
  footer .inner .footer-logo-2 {
    margin: 15px 0 0 0;
  }
}
@media all and (max-width: 768px) { /* ~ 768px*/
  header .hd-top {
    border-bottom: 1px solid rgba(68, 68, 68, 0.2039215686);
    box-sizing: border-box;
  }
  header .hd-top .hd-inner {
    width: 90%;
  }
  header .hd-top .hd-inner h1 {
    left: 0;
  }
  header .hd-top .hd-inner #searchTop {
    display: none;
  }
  header .hd-top .hd-inner .right-btn-box {
    display: none;
  }
  header .hd-bottom {
    display: none;
  }
  header .menu-mobile-btn {
    display: block;
  }
  .contents {
    margin-top: 150px;
    width: 90%;
  }
  .contents h2 {
    margin-bottom: 40px;
  }
  footer {
    font-size: 12px;
  }
  footer .inner {
    width: 90%;
  }
  footer .inner .footer-logo-1 {
    width: 150px;
  }
  footer .inner .footer-info {
    margin: 15px 0 0 0;
  }
  footer .inner .footer-info li {
    margin-left: 10px;
    font-size: 16px;
    vertical-align: top;
  }
  footer .inner .footer-info li:first-child {
    margin-left: 0;
  }
  footer .inner .footer-info li span {
    font-size: 16px;
  }
  footer .inner .footer-info li p {
    font-size: 12px;
    line-height: 25px;
  }
  footer .inner .footer-info li a {
    font-size: 12px;
    line-height: 25px;
  }
  footer .inner .footer-info li .footer-sns {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
  }
  footer .inner .footer-info li .footer-sns li {
    width: 45px;
    height: 45px;
    margin: 10px;
  }
  footer .inner .footer-info li .footer-sns li a {
    font-size: 10px;
  }
  footer .inner .footer-info li .footer-site {
    width: 150px;
  }
  footer .inner .footer-logo-2 {
    margin: 15px 0 0 0;
  }
}