@charset "UTF-8";
.step-box::before {
  background: url("../images/stepbox_1.png") no-repeat center;
}

.txt-box {
  margin-top: 40px;
  padding: 33px 67px;
  border: 1px solid #BFBFBF;
  border-radius: 2px;
  background: #F6F6F6;
  line-height: 28.8px;
  color: #555555;
  box-sizing: border-box;
}
.txt-box > li {
  position: relative;
}
.txt-box > li::before {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #555555;
}

.terms-accordion {
  margin-top: 40px;
  border-radius: 2px;
  background-color: #FAFAFA;
  box-sizing: border-box;
}
.terms-accordion > li {
  position: relative;
  box-sizing: border-box;
  border-left: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
}
.terms-accordion > li.all-agree-box {
  position: relative;
  height: 100px;
  padding-left: 41px;
  border: 1px solid #BFBFBF;
  border-radius: 2px 2px 0 0;
  background-color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 100px;
  color: #707070;
  /*전체 동의가 액티브 됐을 때*/
}
.terms-accordion > li.all-agree-box.active {
  border-color: #0162B1;
  background-color: #F3FAFF;
  color: #0162B1;
  box-sizing: border-box;
}
.terms-accordion > li.all-agree-box.active label::before {
  background: url("../images/ico_check2.png") no-repeat center;
}
.terms-accordion > li.all-agree-box .all-agree {
  display: none;
}
.terms-accordion > li.all-agree-box label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.terms-accordion > li.all-agree-box label::before {
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url("../images/ico_check.png") no-repeat center;
  content: "";
}
.terms-accordion > li.all-agree-box::before {
  display: none;
}
.terms-accordion > li .tit-box {
  position: relative;
  height: 60px;
  padding-left: 62px;
  border-bottom: 1px solid #BFBFBF;
  line-height: 60px;
}
.terms-accordion > li .tit-box::before {
  position: absolute;
  left: 41px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #444444;
  content: "";
}
.terms-accordion > li .tit-box h3 {
  position: relative;
  font-size: 20px;
  font-weight: 350;
  color: #444444;
}
.terms-accordion > li .tit-box h3 span {
  color: #0162B1;
}
.terms-accordion > li .txt {
  overflow-y: scroll;
  height: 200px;
  padding: 10px 30px;
  border-bottom: 1px solid #BFBFBF;
  background-color: #EFEFEF;
  color: #464646;
  line-height: 22.4px;
  box-sizing: border-box;
}
.terms-accordion > li .txt::-webkit-scrollbar {
  width: 4px;
}
.terms-accordion > li .txt::-webkit-scrollbar-thumb {
  height: 76px;
  border-radius: 2px;
  background: rgba(35, 35, 35, 0.4);
}
.terms-accordion > li .agree-box {
  position: relative;
  padding: 14px 42px;
  border-bottom: 1px solid #BFBFBF;
  background-color: #FAFAFA;
  color: #666666;
  line-height: 25.6px;
  vertical-align: middle;
  box-sizing: border-box;
}
.terms-accordion > li .agree-box .check-box {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 350;
  color: #949494;
}
.terms-accordion > li .agree-box .check-box input {
  display: none;
}
.terms-accordion > li .agree-box .check-box label {
  cursor: pointer;
}
.terms-accordion > li .agree-box .check-box label::before {
  display: inline-block;
  width: 14.62px;
  height: 12.74px;
  margin-right: 8.5px;
  background: url("../images/ico_select.png") no-repeat center;
  content: "";
}
.terms-accordion > li .agree-box .check-box input:checked + label {
  color: #0162B1;
}
.terms-accordion > li .agree-box .check-box input:checked + label::before {
  background: url("../images/ico_select2.png") no-repeat center;
}
.terms-accordion .terms-2 .agree-box {
  height: 60px;
  padding-top: 18px;
}
.terms-accordion .terms-3 .txt {
  overflow-y: visible;
  height: 58px;
  padding-top: 0;
  line-height: 58px;
}
.terms-accordion .terms-3 .agree-box {
  height: 64px;
  padding-top: 20px;
}
.terms-accordion .terms-4 .txt {
  height: 89px;
  padding-top: 20px;
  border-radius: 0 0 2px 2px;
  line-height: 25.6px;
  vertical-align: middle;
}

/*반응형*/
@media all and (min-width: 769px) and (max-width: 1024px) { /*769px ~ 1024px*/
  .contents .agree-box li {
    width: 85%;
  }
}
@media all and (max-width: 768px) { /* ~ 768px*/
  .contents .agree-box li {
    width: 78%;
  }
}