@charset "UTF-8";
.container .contents {
  width: 95%;
  max-width: 1064px;
}
.container .contents .sub-tit-box {
  display: flex;
  justify-content: space-between;
  margin: 61px auto;
  padding: 42px 104px;
  width: 100%;
  border: 1px solid #EAEAEA;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  letter-spacing: -1px;
  box-sizing: border-box;
}
.container .contents .sub-tit-box img {
  width: 114px;
  height: 109px;
  margin-right: 28px;
}
.container .contents .sub-tit-box p {
  margin-top: 10px;
}
.container .contents .sub-tit-box p span {
  font-weight: 500;
  color: #0073D0;
}
.container .contents #logInBox {
  margin: 80px auto 0;
  width: 100%;
  text-align: center;
}
.container .contents #logInBox .login-id, .container .contents #logInBox .login-pw {
  display: block;
  width: 100%;
  height: 80px;
  padding: 2px 0 0 32px;
  border: 1px solid #A5A5A5;
  box-sizing: border-box;
  font-size: 24px;
}
.container .contents #logInBox .login-pw {
  margin: 40px 0 20px 0;
}
.container .contents #logInBox .login-id::-moz-placeholder, .container .contents #logInBox .login-pw::-moz-placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  color: #999;
}
.container .contents #logInBox .login-id::placeholder, .container .contents #logInBox .login-pw::placeholder {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 24px;
  color: #999;
}
.container .contents #logInBox .login-option {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #666666;
}
.container .contents #logInBox .login-option span {
  /*checkbox off시*/
  /*checkbox on시*/
}
.container .contents #logInBox .login-option span .remember-id {
  display: none;
}
.container .contents #logInBox .login-option span label {
  display: inline-block;
  cursor: pointer;
}
.container .contents #logInBox .login-option span label::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 8px;
  background: url("../images/ico_check2.png") no-repeat center;
  vertical-align: bottom;
}
.container .contents #logInBox .login-option span .remember-id:checked + label::after {
  background: url("../images/ico_check.png") no-repeat center;
}
.container .contents #logInBox .login-option ul li {
  position: relative;
  display: inline;
}
.container .contents #logInBox .login-option ul li:first-child {
  margin-right: 48px;
}
.container .contents #logInBox .login-option ul li:last-child::before {
  position: absolute;
  left: -24px;
  top: 7px;
  content: "";
  width: 1px;
  height: 15px;
  background-color: #666666;
}
.container .contents #logInBox .btn-solid-blue {
  margin: 0 auto;
}

/*반응형*/
@media all and (min-width: 769px) and (max-width: 1024px) { /*769px ~ 1024px*/
  .container .contents {
    width: 80%;
  }
  .container .contents .sub-tit-box {
    margin: 0 auto;
    padding: 25px 50px;
    font-size: 18px;
  }
  .container .contents .sub-tit-box p {
    margin: 0;
  }
  .container .contents #logInBox {
    width: 100%;
  }
}
@media all and (min-width: 359px) and (max-width: 768px) { /* ~ 768px*/
  .container .contents {
    width: 80%;
  }
  .container .contents .sub-tit-box {
    margin: 0 auto;
    padding: 25px 30px;
    font-size: 16px;
  }
  .container .contents .sub-tit-box img {
    margin: 0 auto;
  }
  .container .contents .sub-tit-box p {
    margin: 0;
  }
  .container .contents #logInBox {
    width: 100%;
  }
}
@media all and (max-width: 360px) { /* ~ 360px mobile*/
  .container .contents {
    width: 80%;
  }
  .container .contents .sub-tit-box {
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 25px 30px;
    font-size: 14px;
  }
  .container .contents .sub-tit-box img {
    margin: 0 auto;
  }
  .container .contents .sub-tit-box p {
    margin: 30px auto 0;
    line-height: 1.8;
  }
  .container .contents #logInBox {
    margin: 40px auto 0;
  }
  .container .contents #logInBox .login-id, .container .contents #logInBox .login-pw {
    font-size: 18px;
  }
  .container .contents #logInBox .login-id::-moz-placeholder, .container .contents #logInBox .login-pw::-moz-placeholder {
    font-size: 18px;
  }
  .container .contents #logInBox .login-id::placeholder, .container .contents #logInBox .login-pw::placeholder {
    font-size: 18px;
  }
  .container .contents #logInBox .login-option {
    display: block;
    text-align: left;
    font-size: 16px;
  }
  .container .contents #logInBox .login-option span {
    display: inline-block;
  }
  .container .contents #logInBox .login-option ul {
    display: inline-block;
    margin-top: 20px;
  }
  .container .contents #logInBox .btn-box {
    margin: 60px auto 0;
  }
}