@charset "UTF-8";
.container .contents .step-box {
  display: flex;
  position: relative;
  justify-content: space-around;
  height: 100px;
  border-radius: 2px;
  background-color: #FAFAFA;
  font-size: 24px;
  color: #666666;
  box-sizing: border-box;
}
.container .contents .step-box li {
  position: relative;
  width: 320px;
  border-top: 1px solid #AEAEAE;
  border-bottom: 1px solid #AEAEAE;
  line-height: 100px;
  text-align: center;
}
.container .contents .step-box li:last-child::before {
  display: none;
}
.container .contents .step-box li:nth-child(2)::before, .container .contents .step-box li:nth-child(3)::before {
  background-color: #0162B1;
}
.container .contents .step-box .step-blue {
  position: relative;
  border-top: 1px solid #0162B1;
  border-bottom: 1px solid #0162B1;
  border-right: none;
  background-color: #E9F5FF;
  color: #0162B1;
}
.container .contents .txt-box span {
  color: #FF2E00;
}
.container .contents > div .info-input input {
  padding-left: 30px;
  height: 80px;
  font-size: 24px;
  line-height: 80px;
  border: 1px solid #A5A5A5;
  box-sizing: border-box;
}
.container .contents > div .info-input input::-moz-placeholder {
  position: relative;
  color: #666666;
}
.container .contents > div .info-input input::placeholder {
  position: relative;
  color: #666666;
}
.container .contents > div .info-input input:focus {
  outline: none;
}
.container .contents > div .info-input button {
  padding: 0;
  width: 203px;
  height: 80px;
  border: none;
  background-color: #0162B1;
  font-size: 24px;
  color: #FFFFFF;
}
.container .contents .member-info {
  margin-top: 60px;
}
.container .contents .member-info .id-box {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.container .contents .member-info .id-box .id-input {
  width: 1065px;
}
.container .contents .member-info .id-box p {
  display: block;
}
.container .contents .member-info p {
  margin: 20px 0 40px 0;
  font-size: 18px;
  color: #666666;
}
.container .contents .member-info p span {
  color: #FF2E00;
}
.container .contents .member-info input {
  width: 100%;
}
.container .contents .contact-info {
  margin-top: 60px;
}
.container .contents .contact-info input {
  margin-bottom: 40px;
  width: 100%;
  border-radius: 2px;
}
.container .contents .contact-info input:last-child {
  margin-bottom: 0;
}
.container .contents .contact-info .address-box {
  display: flex;
  justify-content: space-between;
}
.container .contents .contact-info .address-box .addr-input {
  max-width: 724px;
}
.container .contents .contact-info .address-box .post-input {
  max-width: 311px;
}
.container .contents .contact-info .bg-1 {
  background-color: #F5F5F5;
}
.container .contents .reception-info {
  margin-top: 60px;
}
.container .contents .reception-info > div {
  margin-top: 40px;
}
.container .contents .reception-info > div .desc-box {
  padding: 18px 0;
  width: 100%;
  background-color: #F8F8F8;
  border-radius: 2px;
  font-size: 24px;
  color: #444444;
  line-height: 34px;
  text-align: center;
  box-sizing: border-box;
}
.container .contents .reception-info > div .desc-box span {
  font-size: 16px;
  color: #FF2E00;
}
.container .contents .reception-info > div .recept {
  margin-top: 20px;
}
.container .contents .reception-info > div .recept fieldset {
  display: flex;
  justify-content: space-between;
}
.container .contents .reception-info > div .recept fieldset input {
  display: none;
}
.container .contents .reception-info > div .recept fieldset label {
  display: inline-block;
  margin: 5px;
  width: 50%;
  height: 80px;
  border: 1px solid #444444;
  border-radius: 2px;
  font-size: 20px;
  color: #444444;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  box-sizing: border-box;
}
.container .contents .reception-info > div .recept fieldset input:checked + label {
  border-color: #0162B1;
  background-color: #E9F5FF;
  color: #0162B1;
}

/*반응형*/
@media all and (min-width: 769px) and (max-width: 1024px) { /*769px ~ 1024px*/
  .contianer .contents > div .info-input button {
    font-size: 20px;
  }
}
@media all and (max-width: 768px) { /* ~ 768px*/
  .contianer .contents > div .info-input button {
    font-size: 16px;
  }
}