.container .contents {
  width: 1064px;
  margin: 0 auto;
}
.container .contents h2 {
  margin-top: 232px;
  font-size: 48px;
  text-align: center;
}
.container .contents .sub-tit-box {
  display: flex;
  justify-content: space-between;
  margin-top: 126px;
  padding: 30px 75px;
  border: 1px solid #EAEAEA;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  letter-spacing: -1px;
}
.container .contents .sub-tit-box img {
  width: 125px;
  height: 109px;
}
.container .contents .sub-tit-box span {
  color: #0073D0;
}
.container .contents #logInBox {
  margin-top: 80px;
  text-align: center;
}
.container .contents #logInBox .login-id, .container .contents #logInBox .login-pw {
  display: block;
  width: 100%;
  height: 80px;
  border: 1px solid #A5A5A5;
  box-sizing: border-box;
}
.container .contents #logInBox .login-pw {
  margin: 40px 0 20px 0;
}
.container .contents #logInBox .login-id::-moz-placeholder, .container .contents #logInBox .login-pw::-moz-placeholder {
  padding-left: 38px;
  font-size: 24px;
  color: #999;
}
.container .contents #logInBox .login-id::placeholder, .container .contents #logInBox .login-pw::placeholder {
  padding-left: 38px;
  font-size: 24px;
  color: #999;
}
.container .contents #logInBox .login-option {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #666666;
}
.container .contents #logInBox .login-option span .remember-id {
  display: none;
}
.container .contents #logInBox .login-option span label {
  display: inline-block;
  cursor: pointer;
}
.container .contents #logInBox .login-option span label::after {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../images/ico_check2.png") no-repeat center;
}
.container .contents #logInBox .login-option span .remember-id:checked + label::after {
  background: url("../images/ico_check.png") no-repeat center;
}
.container .contents #logInBox .login-option ul li {
  position: relative;
  display: inline;
}
.container .contents #logInBox .login-option ul li:first-child {
  margin-right: 20px;
}
.container .contents #logInBox .login-option ul li:first-child::after {
  position: absolute;
  right: -15px;
  content: "";
  width: 1px;
  height: 18px;
  background-color: #666666;
}
.container .contents #logInBox .login-btn {
  width: 280px;
  height: 82px;
  margin: 80px 0;
  border: none;
  background-color: #0162B1;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}