@charset "UTF-8";
.container .contents .step-box {
  display: flex;
  position: relative;
  justify-content: space-around;
  border-radius: 2px;
  background-color: #FAFAFA;
  color: #666666;
  box-sizing: border-box;
}
.container .contents .step-box li:first-child::before, .container .contents .step-box li:nth-child(2)::before {
  display: none;
}
.container .contents .txt-box {
  margin-top: 40px;
  padding: 33px 67px;
  border: 1px solid #BFBFBF;
  border-radius: 2px;
  background: #F6F6F6;
  line-height: 28.8px;
  color: #555555;
  box-sizing: border-box;
}
.container .contents .txt-box > li {
  position: relative;
}
.container .contents .txt-box > li::before {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #555555;
}
.container .contents .terms-accordion {
  margin-top: 40px;
  border-radius: 2px;
  background-color: #FAFAFA;
  box-sizing: border-box;
}
.container .contents .terms-accordion > li {
  position: relative;
  box-sizing: border-box;
  border-left: 1px solid #BFBFBF;
  border-right: 1px solid #BFBFBF;
}
.container .contents .terms-accordion > li.all-agree-box {
  position: relative;
  height: 100px;
  padding-left: 41px;
  border: 1px solid #BFBFBF;
  border-radius: 2px 2px 0 0;
  background-color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 100px;
  color: #707070;
  /*전체 동의가 액티브 됐을 때*/
}
.container .contents .terms-accordion > li.all-agree-box.active {
  border-color: #0162B1;
  background-color: #F3FAFF;
  color: #0162B1;
  box-sizing: border-box;
}
.container .contents .terms-accordion > li.all-agree-box.active label::before {
  background: url("../images/ico_check2.png") no-repeat center;
}
.container .contents .terms-accordion > li.all-agree-box .all-agree {
  display: none;
}
.container .contents .terms-accordion > li.all-agree-box label {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.container .contents .terms-accordion > li.all-agree-box label::before {
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background: url("../images/ico_check.png") no-repeat center;
  content: "";
}
.container .contents .terms-accordion > li.all-agree-box::before {
  display: none;
}
.container .contents .terms-accordion > li .tit-box {
  height: 60px;
  padding-left: 62px;
  border-bottom: 1px solid #BFBFBF;
  line-height: 60px;
}
.container .contents .terms-accordion > li .tit-box h3 {
  position: relative;
  margin: 0;
  font-size: 20px;
  font-weight: 350;
  color: #444444;
}
.container .contents .terms-accordion > li .tit-box h3 span {
  color: #0162B1;
}
.container .contents .terms-accordion > li .txt {
  overflow-y: scroll;
  height: 200px;
  padding: 10px 30px;
  border-bottom: 1px solid #BFBFBF;
  background-color: #EFEFEF;
  color: #464646;
  line-height: 22.4px;
  box-sizing: border-box;
}
.container .contents .terms-accordion > li .txt::-webkit-scrollbar {
  width: 4px;
}
.container .contents .terms-accordion > li .txt::-webkit-scrollbar-thumb {
  height: 76px;
  border-radius: 2px;
  background: rgba(35, 35, 35, 0.4);
}
.container .contents .terms-accordion > li .agree-box {
  position: relative;
  padding: 14px 42px;
  border-bottom: 1px solid #BFBFBF;
  background-color: #FAFAFA;
  color: #666666;
  line-height: 25.6px;
  vertical-align: middle;
  box-sizing: border-box;
}
.container .contents .terms-accordion > li .agree-box .check-box {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 350;
  color: #949494;
}
.container .contents .terms-accordion > li .agree-box .check-box input {
  display: none;
}
.container .contents .terms-accordion > li .agree-box .check-box label {
  cursor: pointer;
}
.container .contents .terms-accordion > li .agree-box .check-box label::before {
  display: inline-block;
  width: 14.62px;
  height: 12.74px;
  margin-right: 8.5px;
  background: url("../images/ico_select.png") no-repeat center;
  content: "";
}
.container .contents .terms-accordion > li .agree-box .check-box input:checked + label {
  color: #0162B1;
}
.container .contents .terms-accordion > li .agree-box .check-box input:checked + label::before {
  background: url("../images/ico_select2.png") no-repeat center;
}
.container .contents .terms-accordion .terms-2 .agree-box {
  height: 60px;
  padding-top: 18px;
}
.container .contents .terms-accordion .terms-3 .txt {
  overflow-y: visible;
  height: 58px;
  padding-top: 0;
  line-height: 58px;
}
.container .contents .terms-accordion .terms-3 .agree-box {
  height: 64px;
  padding-top: 20px;
}
.container .contents .terms-accordion .terms-4 .txt {
  height: 89px;
  padding-top: 20px;
  border-radius: 0 0 2px 2px;
  line-height: 25.6px;
  vertical-align: middle;
}

/*반응형*/
@media all and (min-width: 769px) and (max-width: 1024px) { /*769px ~ 1024px*/
  .container .contents .agree-box li {
    width: 85%;
  }
}
@media all and (min-width: 361px) and (max-width: 768px) { /* ~ 768px*/
  .container .contents .agree-box li {
    width: 78%;
  }
}
@media all and (max-width: 360px) { /* ~ 360px mobile*/
  .container .contents .txt-box {
    margin-top: 40px;
    padding: 33px 20px 33px 40px;
  }
  .container .contents .terms-accordion > li {
    border: 1px solid red;
  }
  .container .contents .terms-accordion > li.all-agree-box {
    height: 60px;
    padding: 0 21px;
    font-size: 18px;
    line-height: 60px;
  }
  .container .contents .terms-accordion > li.all-agree-box label::before {
    right: 20px;
    width: 20px;
    height: 20px;
  }
  .container .contents .terms-accordion > li .tit-box {
    height: 60px;
    padding-left: 32px;
    line-height: 60px;
  }
  .container .contents .terms-accordion > li .tit-box h3 {
    font-size: 16px;
  }
  .container .contents .terms-accordion > li .txt {
    padding: 10px 20px;
    height: 200px;
    font-size: 14px;
    line-height: 22.4px;
  }
  .container .contents .terms-accordion > li .agree-box {
    position: relative;
    padding: 14px 22px;
  }
  .container .contents .terms-accordion > li .agree-box .check-box {
    position: absolute;
    left: 22px;
    bottom: 0;
    transform: translateY(30%);
    font-size: 16px;
  }
  .container .contents .terms-accordion .terms-1 .agree-box {
    padding: 4px 22px;
    height: 190px;
  }
  .container .contents .terms-accordion .terms-1 .agree-box .check-box {
    transform: translateY(70%);
  }
  .container .contents .terms-accordion .terms-2 .agree-box {
    padding: 4px 22px;
    height: 90px;
  }
  .container .contents .terms-accordion .terms-3 .txt {
    overflow-y: scroll;
    padding: 10px 20px;
    line-height: 1.6;
  }
  .container .contents .terms-accordion .terms-3 .agree-box {
    padding: 4px 22px;
    height: 90px;
  }
  .container .contents .terms-accordion .terms-4 .txt {
    padding: 10px 20px;
  }
}