.container .contents .step-box::before {
  background: url("../images/stepbox_2.png") no-repeat center;
}
.container .contents .txt-box {
  height: 241px;
}
.container .contents h3 {
  position: relative;
  margin: 60px 0 20px 30px;
  font-size: 28px;
  font-weight: 700;
  color: #444444;
}
.container .contents h3::before {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #444444;
  content: "";
}
.container .contents .id-verifi {
  height: 425px;
  border: 1px solid #BFBFBF;
  background-color: #F6F6F6;
  color: #555555;
}
.container .contents .id-verifi ul {
  margin: 36px 0 0 52px;
}
.container .contents .id-verifi ul li {
  position: relative;
  margin-left: 30px;
  font-weight: 350;
  line-height: 28.8px;
}
.container .contents .id-verifi ul li::before {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #444444;
  content: "";
}
.container .contents .id-verifi .verifi-box {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 230px;
}
.container .contents .id-verifi .verifi-box > div {
  width: 416px;
  margin-top: 46px;
}
.container .contents .id-verifi .verifi-box > div .sub-tit-box {
  text-align: center;
}
.container .contents .id-verifi .verifi-box > div .sub-tit-box h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 38.4px;
}
.container .contents .id-verifi .verifi-box > div .sub-tit-box span {
  font-size: 20px;
  line-height: 32px;
}
.container .contents .id-verifi .verifi-box > div button {
  display: inline-block;
  margin-top: 30px;
  width: 100%;
  height: 80px;
  border: 1px solid #444444;
  background-color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
.container .contents .id-verifi .verifi-box > div button.blue-bor-btn {
  border-color: #0162B1;
  color: #0162B1;
}
.container .contents .id-verifi .verifi-box > div:last-child::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 173.5px;
  background-color: #CECECE;
  content: "";
}