@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
.noto-sans-kr-400 {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 to 500;
    font-style: normal;
  }

@font-face {font-family: 'BMDOHYEON'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); font-weight: normal; font-style: normal;}

body{font-family: "Noto Sans KR", sans-serif; }
a{text-decoration: none; color: inherit;}


/*header*/
header{position: fixed; z-index: 99; width: 100%; top: 0; left: 0; 

        .hd-top{position: relative; width: 100%; height: 100px; background-color: #fff;

            .hd-inner{
                h1{display: inline-block;

                    a{display: block; width: 205px; height: 24px; margin-top: 40px; background: url(../images/logo_color.png) no-repeat center; text-indent: -999px;}
                }
                #searchTop{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 450px; margin: auto;

                    .search-txt{width: 450px; height: 45px; border: 3px solid #0162B1; box-sizing: border-box;}
                    .search-txt::placeholder{padding-left: 14px;}
                    .search-btn{ position: absolute; top: 0; right: 0; width: 44px; height: 44px; padding: 0; border: none; background: url("../images/ico_search.png") no-repeat center; background-color: #0162B1; cursor: pointer;}
                }
                .right-btn-box{ float: right; margin-top: 35px;
                    li{display: inline-block;
                    
                        img{display: block; width: 15px; height: 15px; margin: 0 auto 5px;}
                    }
                    li:first-child{margin-left: 0;}
                }
            }

            //.inner{display: flex; justify-content: space-between; width: 1100px; height: 100%; margin: 0 auto;}
        }
        
        .hd-bottom{ height: 66px; background-color: #0162B1; box-sizing: border-box; color: #fff;


            #gnb{height: 100%; height: 280px; line-height: 66px;

                .depth1{display: flex; height: 66px;

                    li{position: relative; width: 15.66%; text-align: center;
                        &::before{position:absolute; content:''; top:50%; right: 0; transform: translateY(-50%); width:1px; height:15px; background-color:gray;}
                    }
                    .menu-btn{width: 66px; background-color: #00457e;
                        a{vertical-align: middle;}
                    }
                    li:nth-child(6)::before,li:last-child::before{background-color: transparent;}
                }
                
                .depth2{flex-direction: column; color: #444444; transition: 0.3s; display: none;
                    // &:hover{display: block;}

                    li{width: 100%; background-color: #C5E5FF; box-sizing: border-box; transition: 0.3s;
                        
                        &:hover{font-weight: 500; color: #000;}
                    }
                    li::before {display: none;}
                }
                ul > li:hover .depth2{ display: block;}
            }
        }

    .hd-inner{ width: 1100px; margin: 0 auto;}
}

/*main*/
h2{margin: 232px 0 61px 0; font-size: 48px; text-align: center; font-family: 'BMDOHYEON';}

/*footer*/
footer{ height: 256px; background-color: #444444; color: #fff;

    .inner{width: 80%; margin: 0 auto; padding-top: 50px;
        
        
        .footer-info{display: flex; justify-content: space-between ;

            li{font-size: 18px;

                .footer-logo{width: 204px; height: 24px;}
                span{font-size: 20px; font-weight: 500;}
                ul{margin-top: 10px;

                    li{line-height: 1.4; margin-top: 10px;}
                }
            }
            li{
                .footer-sns{display: block;

                    li{display: inline-block; width: 50px; height: 50px; border: 1px solid #fff; margin-right: 10px; font-size: 12px;vertical-align: top;}
                    li:last-child{margin-right: 0;}
                }
                .footer-site{width: 200px; height: 40px; margin-top: 10px; border: 1px solid #fff; background-color: transparent; color: #fff; cursor: pointer;

                    option{background-color: #444444; color: #fff;}
                }
            }
        }
    }
}
