@import url("reset.css");

body{ width: 1920px; }
a{text-decoration: none; color: inherit;}

header{position: fixed;  width: 100%; top: 0; left: 0;

    .hd-top{position: relative; width: 100%; height: 100px; background-color: #fff;

        .inner{display: flex; justify-content: space-between; width: 80%; height: 100%; margin: 0 auto;

        
            h1{display: inline-block;

                a{display: block; width: 150px; height: 24px; margin-top: 40px; background: url(../images/logo_color.png) no-repeat center; text-indent: -999px; border: 2px solid red;}
            }

            #searchTop{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 450px; margin: auto;

                .search-txt{width: 450px; height: 45px; border: 3px solid #0162B1; box-sizing: border-box;}
                .search-txt::placeholder{padding-left: 14px;}
                .search-btn{ position: absolute; top: 0; right: 0; width: 45px; height: 45px; border: none; background: url("../images/ico_search.png") no-repeat center; background-color: #0162B1;}
            }

            .right-btn-box{
                li{display: inline-block; margin-top: 30px;
                
                    img{display: block; width: 15px; height: 15px; margin: 0 auto 5px;}
                }
                li:first-child{margin-left: 0;}
            }
        }
    }

    .hd-bottom{height: 66px; background-color: #0162B1; box-sizing: border-box; color: #fff;

        #gnb{width: 70%; margin: 0 auto; line-height: 66px;

            ul{display: flex; justify-content: space-between;

                li{display: inline-block; position: relative;}
                li::after{ position:absolute; content:''; top:50%; left: 150px; transform: translateY(-50%); width:1px; height:15px; background-color:gray;}
                li:last-child::after{background-color: transparent;}
            }
        }
    }
}

footer{
    height: 256px;
    background-color: #444444;
    color: #fff;

    .inner{width: 80%; margin: 0 auto; padding-top: 50px;
        
        
        .footer-info{display: flex; justify-content: space-between ;

            li{font-size: 18px;

                .footer-logo{width: 204px; height: 24px;}
                span{font-size: 20px;}
                ul{margin-top: 10px;

                    li{line-height: 1.4; margin-top: 10px;}
                }
            }
            li{
                .footer-sns{display: block;

                    li{display: inline-block; width: 50px; height: 50px; border: 1px solid #fff; margin-right: 10px; font-size: 12px;vertical-align: top;}
                    li:last-child{margin-right: 0;}
                }
                .footer-site{width: 200px; height: 40px; margin-top: 10px; border: 1px solid #fff; background-color: transparent; color: #fff;

                    option{background-color: #444444; color: #fff;}
                }
            }
        }
    }
}
