.container{
    .contents{
        .step-box{
            li{
                &:last-child::before{display: none;}
                &:nth-child(2)::before,&:nth-child(3)::before{background-color: #0162B1;}
            }
        }

        .txt-box{
            span{color: #FF2E00;}
        }

        >div{ 
            .info-input{
                input{padding-left:30px; height: 80px; font-size: 18px; line-height: 80px; border: 1px solid #A5A5A5; box-sizing: border-box;
                    &::placeholder{position: relative; color: #666666;}
                    &:focus{outline: none;}
                }
                button{padding: 0; width: 203px; height: 80px; border: none; border-radius: 2px; background-color: #0162B1; font-size: 24px; color: #FFFFFF;}
            }
        }
        .member-info{margin-top: 60px;
            .id-box{display: flex; gap: 12px; /*justify-content: space-between;*/
                .id-input{max-width: 1065px;}
                p{display:block;}
            }
            p{margin: 20px 0 40px 0; font-size: 18px; color: #666666;
                span{color: #FF2E00;}
            }
            .pw-input{margin-bottom: 0;}
            input{ width: 100%;}
        }
        .contact-info{margin-top: 60px;
            input{margin-bottom: 40px; width: 100%; border-radius: 2px;
                &:last-child{margin-bottom: 0;}
            }
            .address-box{display: flex; gap: 12px; /*justify-content: space-between;*/
                .address-2{display: flex; gap: 12px; /*justify-content: space-between;*/}
                .addr-input{/*max-width: 724px;*/}
                .post-input{/*max-width: 311px;*/}
            }
            .bg-1{background-color: #F5F5F5;}
        }
        .reception-info{margin-top: 60px;
            >div{margin-top: 40px;
                &:first-child{margin-top: 0;}
                .desc-box{padding: 18px 10px; width: 100%; background-color: #F8F8F8; border-radius: 2px; font-size: 24px; color: #444444; line-height: 34px; text-align: center; box-sizing: border-box;
                    span{font-size: 16px; color: #FF2E00;}
                }
                .recept{margin-top: 20px;
                    fieldset{display: flex; justify-content: space-between;
                        input{display: none;}
                        label{display: inline-block; margin: 5px; width: 50%; height: 80px; border: 1px solid #444444; border-radius: 2px; font-size: 20px; color: #444444; text-align: center; line-height: 80px; cursor: pointer; box-sizing: border-box;}
                        input:checked + label{border-color: #0162B1; background-color: #E9F5FF; color: #0162B1;}   
                    }
                }
            }
        }
    }    
}


/*반응형*/
@media all and (min-width:769px) and (max-width: 1024px){ /*769px ~ 1024px*/
    .container{
        .contents{
            >div{
                .info-input{
                    button{font-size: 22px;} 
                }
            }
        }
    }

}

@media all and (min-width:361px) and (max-width:768px) { /*361px ~ 768px*/
    .container{
        .contents{
            >div{
                .info-input{
                    input{margin-bottom: 20px; padding-left: 15px; height: 50px; font-size: 18px;}
                    button{height: 50px; font-size: 16px;}
                }
            }
            .member-info{margin-top: 60px;
                input{margin-bottom: 0;}
                .id-box{height: 50px;
                    .id-input{max-width: 1065px;}
                    p{display:block;}
                }
                
                p{margin: 10px 0 20px 0; font-size: 14px;}
            }
            .reception-info{
                >div{margin-top: 40px;
                    &:first-child{margin-top: 0;}
                    .desc-box{padding: 20px; font-size: 18px; line-height: 1.4;
                        span{font-size: 16px; line-height: 1.2;}
                    }
                }
            }
        }
    }
}

@media all and (max-width:360px) { /* ~ 360px mobile*/
    .container{
        .contents{
            >div{
                .info-input{
                    input{padding-left: 10px; height: 50px; font-size: 16px;}
                    button{height: 50px; font-size: 14px;}
                }
            }
            .member-info{margin-top: 60px;
                .id-box{height: 50px;
                    .id-input{max-width: 1065px;}
                    p{display:block;}
                }
                p{margin: 8px 0 20px 0; font-size: 14px;}
            }
            .contact-info{margin-top: 40px;
                input{margin-bottom: 20px;}
                .address-box{flex-wrap: wrap; gap: 0;}
            }
            .reception-info{margin-top: 40px;
                >div{margin-top: 20px;
                    &:first-child{margin-top: 0;}
                    .desc-box{padding: 20px; font-size: 18px; line-height: 1.4;
                        span{font-size: 16px; line-height: 1.2;}
                    }
                }
            }
        }
    }
}