.container{
    .contents{
        .step-box{background-color: #E9F5FF; border: 1px solid #1B6EAD;
            li{
                &::before{background-color: #1B6EAD;}
            }
            .step-blue{border: none;
                &:first-child{border-left: none}
                &::after{display: none;}
            }
        }
        .join-complete{margin-top: 40px; width: 100%;}
        .member-info-area{position: relative; margin-top: 60px;

            .sub-tit-box{display: flex; justify-content: space-between; margin-bottom: 20px;
                h3{margin-bottom: 0;}
                .info-change{position: relative; padding: 2px 0 5px 16px; width: 139px; height: 38px; border: none; border-radius: 5px; background-color: #C7C7C7; font-size: 16px; color: #333333; letter-spacing: -1.2px; box-sizing: border-box;
                    &::before{position: absolute; left: 14px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px; background: url(../images/info-edit.png); content: '';}
                    a{font-weight: 400;}
                }
            }
            .member-info{position: relative; padding: 21px 40px;  border: 1px solid #A5A5A5; border-radius: 2px; background-color: #FAFAFA; font-size: 22px; color: #333333; box-sizing: border-box;
                >ul{/*display: flex;*/ font-size: 22px;
                    .cell-1{display: block;
                        ul{display: flex; justify-content: space-between;
                            li{display: inline-block; width: 50%;
                                p{display: inline-block; position: relative; margin-left: 20px; width: 180px; font-weight: 500;
                                    &::before{position: absolute; left: -10px; top: 50%; transform: translateY(-50%); width: 5px; height: 5px; border-radius: 5px; background-color: #333333; content: '';}
                                    &::after{position: absolute;  right: 10px; top: 50%; transform: translateY(-50%); width: 1px; height: 15px; background-color: #333333; content: '';}
                                }
                                span{display: inline-block; position: relative; margin-left: 20px; width: 150px;}
                            }
                        }
                    }
                    .cell-2{display: block; 
                        ul{display: flex; justify-content: space-between;
                            li{display: inline-block; margin-top: 40px; width: 50%;
                                p{display: inline-block; position: relative; margin-left: 20px; width: 180px; font-weight: 500;
                                    &::before{position: absolute; left: -10px; top: 50%; transform: translateY(-50%); width: 5px; height: 5px; border-radius: 5px; background-color: #333333; content: '';}
                                    &::after{position: absolute; right: 10px; top: 50%; transform: translateY(-50%); width: 1px; height: 18px; background-color: #333333; content: '';}
                                }
                                span{display: inline-block; position: relative; margin-left: 20px; width: 150px;}
                            }
                        }
                    }
                }
            }
        }
    }
} 

/*반응형*/
@media all and (min-width:769px) and (max-width: 1024px){ /*769px ~ 1024px*/
    .container{
        .contents{
            .member-info-area{
                .member-info{
                    >ul{font-size: 20px;
                        .cell-1{display: block;
                            ul{
                                li{
                                    p{
                                        &::after{display: none;}
                                    }
                                    span{margin-top: 8px;}
                                }
                            }
                        }
                        .cell-2{display: block;
                            ul{
                                li{margin-top: 40px;
                                    p{
                                        &::after{display: none;}
                                    }
                                    span{margin-top: 8px;}
                                }
                            }
                        }
                    }
                }
            }
        }    
    }
}

@media all and (min-width:361px) and (max-width:768px) { /*361px ~ 768px*/
    .container{
        .contents{
            .step-box{
                .step-blue{
                    &:first-child{border-top: none;}
                    border-top: 1px solid #0162B1;
                }
            }
            .member-info-area{
                .member-info{padding: 20px;
                    >ul{font-size: 16px;
                        .cell-1{
                            ul{
                                li{
                                    p{font-weight: 500;
                                        &::after{display: none;}
                                    }
                                    span{margin-left: 20px; margin-top: 8px;}
                                }
                            }
                        }
                        .cell-2{
                            ul{
                                li{margin-top: 40px;
                                    p{font-weight: 500;
                                        &::after{display: none;}
                                    }
                                    span{margin-left: 20px; margin-top: 8px;}
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}

@media all and (max-width:360px) { /* ~ 360px mobile*/
    .container{
        .contents{
            .step-box{
                .step-blue{border:1px solid #0162B1;}
            }
            .member-info-area{
                .member-info{padding: 14px;
                    >ul{font-size: 14px;
                        .cell-1{
                            ul{flex-direction: column;
                                li{margin-top: 10px;
                                    &:first-child{margin-top: 0;
                                        p{margin-top: 0;}
                                    }
                                    p{width: 100px; font-weight: 500;
                                        &::before{width: 3px; height: 3px; border-radius: 3px;}
                                        &::after{display: none;}
                                    }
                                    span{margin-top: 8px;}
                                }
                            }
                        }
                        .cell-2{
                            ul{flex-direction: column; margin-top: 10px;
                                li{margin-top: 0;
                                    &:first-child{
                                        p{margin-top: 0;}
                                    }
                                    p{margin-top: 10px; width: 100px; font-weight: 500;
                                        &::before{width: 3px; height: 3px; border-radius: 3px;}
                                        &::after{display: none;}
                                    }
                                    span{margin-top: 8px;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}