.container{
    .contents{
        .step-box{display: flex; position: relative; justify-content: space-around; height: 100px; border-radius: 2px; background-color: #FAFAFA; font-size: 24px; color: #666666; box-sizing: border-box;
    
            li{position: relative; width:(1280px/4); border-top: 1px solid #AEAEAE; border-bottom: 1px solid #AEAEAE; line-height: 100px; text-align: center;
                &:last-child::before{display: none;}
                &:nth-child(2)::before,&:nth-child(3)::before{background-color: #0162B1;}
            }
            .step-blue{position: relative; border-top:1px solid #0162B1; border-bottom:1px solid #0162B1; border-right: none; background-color: #E9F5FF; color: #0162B1;} 
        }

        .txt-box{
            span{color: #FF2E00;}
        }

        >div{ 
            .info-input{
                input{padding-left:30px; height: 80px; font-size: 24px; line-height: 80px; border: 1px solid #A5A5A5; box-sizing: border-box;
                    &::placeholder{position: relative; color: #666666;}
                    &:focus{outline: none;}
                }
                button{padding: 0; width: 203px; height: 80px; border: none; background-color: #0162B1; font-size: 24px; color: #FFFFFF;}
            }
        }
        .member-info{margin-top: 60px;
            .id-box{display: flex; justify-content: space-between; height: 80px;
                .id-input{width: 1065px;}
                p{display:block;}
            }
            p{margin: 20px 0 40px 0; font-size: 18px; color: #666666;
                span{color: #FF2E00;}
            }
            input{ width: 100%;}
        }
        .contact-info{margin-top: 60px;
            input{margin-bottom: 40px; width: 100%; border-radius: 2px;
                &:last-child{margin-bottom: 0;}
            }
            .address-box{display: flex; justify-content: space-between;
                .addr-input{max-width: 724px;}
                .post-input{max-width: 311px;}
            }
            .bg-1{background-color: #F5F5F5;}
        }
        .reception-info{margin-top: 60px;
            >div{margin-top: 40px;
                .desc-box{padding: 18px 0; width: 100%; background-color: #F8F8F8; border-radius: 2px; font-size: 24px; color: #444444; line-height: 34px; text-align: center; box-sizing: border-box;
                    span{font-size: 16px; color: #FF2E00;}
                }
                .recept{margin-top: 20px;
                    fieldset{display: flex; justify-content: space-between;
                        input{display: none;}
                        label{display: inline-block; margin: 5px; width: 50%; height: 80px; border: 1px solid #444444; border-radius: 2px; font-size: 20px; color: #444444; text-align: center; line-height: 80px; cursor: pointer; box-sizing: border-box;}
                        input:checked + label{border-color: #0162B1; background-color: #E9F5FF; color: #0162B1;}   
                    }
                }
            }
        }
    }    
}


/*반응형*/
@media all and (min-width:769px) and (max-width: 1024px){ /*769px ~ 1024px*/
    .contianer{
        .contents{
            >div{
                .info-input{
                    button{font-size: 20px;} 
                }
            }
        }
    }

}

@media all and (max-width:768px) { /* ~ 768px*/
    .contianer{
        .contents{
            >div{
                .info-input{
                    button{font-size: 16px;}
                }
                
            }
        }
    }
}