.container{
    .contents{
        .step-box{background-color: #E9F5FF; border: 1px solid #1B6EAD;
            li{
                &::before{background-color: #1B6EAD;}
            }
            .step-blue{border: none;
                &:first-child{border-left: none}
                &::after{display: none;}
            }
        }
        

        .join-complete{margin-top: 40px; width: 100%;}

        .member-info-area{position: relative; margin-top: 60px;

            .sub-tit-box{display: flex; justify-content: space-between; margin-bottom: 20px;
                h3{margin-bottom: 0;}
                .info-change{position: relative; padding: 2px 0 5px 16px; width: 139px; height: 38px; border: none; border-radius: 5px; background-color: #C7C7C7; font-size: 16px; color: #333333; letter-spacing: -1.2px; box-sizing: border-box;
                    &::before{position: absolute; left: 14px; top: 50%; transform: translateY(-50%); width: 16px; height: 16px; background: url(../images/info-edit.png); content: '';}
                    a{font-weight: 400;}
                }
            }
            .member-info{position: relative; padding: 21px 40px;  border: 1px solid #A5A5A5; border-radius: 2px; background-color: #FAFAFA; font-size: 22px; color: #333333; box-sizing: border-box;
                
                table{width: 100%; box-sizing: border-box;
                            &::before{position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 95%; height: 1px; background-color: #D9D9D9; content: '';}
                    tbody{position: relative; width: 100%;
                        tr{height: 60px; line-height: 60px;

                            td{width: 200px;
                                &:nth-child(odd){position: relative;
                                    &::before{position: absolute; left: -15px; top: 50%; transform: translateY(-50%); width: 5px; height: 5px; border-radius: 50%; background-color: #333333; content: '';}
                                }
                                &:nth-child(even){position: relative; 
                                    &::before{position: absolute; left: -25px; top: 50%; transform: translateY(-50%); width: 1px; height: 20px; background-color: #333333; content: '';}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 

/*반응형*/
@media all and (min-width:769px) and (max-width: 1024px){ /*769px ~ 1024px*/
    .contents{
        .member-info-area{
            .member-info{
                td{width: 150px; font-size: 20px;
                    &:nth-child(odd){position: relative;
                        &::before{position: absolute; left: -15px; top: 50%; transform: translateY(-50%); width: 5px; height: 5px; border-radius: 50%; background-color: #333333; content: '';}
                    }
                    &:nth-child(even){position: relative; 
                        &::before{position: absolute; left: -25px; top: 50%; transform: translateY(-50%); width: 1px; height: 20px; background-color: #333333; content: '';}
                    }
                }
            }
        }
    }
}

@media all and (min-width:769px) and (max-width:768px) { /* ~ 768px*/
    .contents{
        .member-info-area{
            .member-info{
                td{width: 150px; font-size: 16px;
                    &:nth-child(odd){position: relative;
                        &::before{position: absolute; left: -15px; top: 50%; transform: translateY(-50%); width: 5px; height: 5px; border-radius: 50%; background-color: #333333; content: '';}
                    }
                    &:nth-child(even){position: relative; 
                        &::before{position: absolute; left: -25px; top: 50%; transform: translateY(-50%); width: 1px; height: 20px; background-color: #333333; content: '';}
                    }
                }
            }
        }
    }
}